<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="clover">

  <xacro:include filename="$(find clover_description)/urdf/clover/clover4.xacro"/>

  <xacro:include filename="$(find my_clover_description)/urdf/sensors/custom_camera.urdf.xacro"/>

  <xacro:custom_camera 
    name="aux_camera" 
    parent="base_link" 
    x="0.08" y="0.0" z="-0.03" 
    roll="0" 
    pitch="0.785398"  yaw="0" 
/>

<xacro:include filename="$(find my_clover_description)/urdf/sensors/custom_stereo_camera.urdf.xacro" />

<xacro:zed_camera name="stereo_camera" parent="base_link">
  <origin xyz="0.1 0.0 0.0" rpy="0 0 0"/>
</xacro:zed_camera>

</robot>
